
<p>Remplissez le formulaire ou envoyez <a href="mailto:slipdebain@yopmail.com">un email</A> afin de formuler votre demande.</p>


<form method="POST" action="https://formspree.io/f/mqkgrjyd/">
<label for="email">Votre email</label>
    <input type="email" name="_replyto" id="email" autocomplete="email" required>
<label for="message">Votre message</label>
    <textarea type="text" name="body" id="message" rows="7" autocomplete="message" required></textarea>
	<br/>
<button type="submit" class="btn btn--primary">Envoyer</button>
</form>